body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0E141B;
  background-image: url('https://www.joshwcomeau.com/_next/image/?url=%2Fimages%2Fshadow-palette%2Fslopes.png&w=3840&q=75');
  /* background-position: 0px 250px; */
  /* background-blend-mode: ; */
  backdrop-filter: blur(10px);
  /* background-filter: blur; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.swipeable-list-item__content {
  display: block;
}

.swipeable-list-item__trailing-actions {
  border-radius: 0 10px 10px 0;
  background-color: rgba(255, 0, 0, 0.766);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}